$body_text: #333;
$headings: crimson;
$body_bg: #eef;
$head_foot_bg: powderblue;
$hover_menu: rgba(220, 20, 60, 0.447);
$h1_bg: rgba(106, 145, 193, 0.6);

$font_headings:  'Merriweather', serif;
$font_else: "Caveat", cursive;