.home {
    font-family: $font_main;

    .introduction {
        margin: 12rem auto;

        .profileImg {
            text-align: center;
            animation-name: p-img;
            animation-duration: 5s;

            img {
                width: 90%;
                height: auto;
            }
        }

        @keyframes p-img {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .intro-container {
            text-align: center;
            margin: 2rem auto;
            font-family: $font_else;

            .intro1,
            .intro3 {
                font-size: 1.5rem;
            }

            .intro2 {
                font-weight: 600;
                font-size: 2.5rem;
                animation-name: p-img;
                animation-duration: 4s;
            }
        }
    }

    .myworks {
        margin: 5rem auto 0.5rem auto;

        .heading {
            text-align: center;
            margin-bottom: 4rem;
            font-weight: 600;
            font-family: $font_else;
        }

        .post {
            margin-bottom: 3rem;

            .post-title {
                margin-left: 1.5rem;
                margin-bottom: 0.5rem;

                a {
                    text-decoration: none;
                    color: $sub_headings;
                }
            }

            .post-thumbnail {
                margin: 0 auto;

                img {
                    max-width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    @media screen and (min-width: 600px) {
        .introduction {
            .profileImg {
                img {
                    width: 65%;
                }
            }
        }

        .myworks {
            .heading {
                font-size: 2rem;
            }
            .post {
                .post-thumbnail {
                    text-align: center;
                    margin: 0 6rem;
                }
            }
        }
    }

    @media screen and (min-width: 1000px) {
        .introduction {
            .descme {
                display: grid;
                grid-template-columns: 1.5fr 1fr;

                .profileImg {
                    img {
                        width: 70%;
                    }
                }

                .intro-container {
                    padding-top: 10rem;
                }
            }
        }

        .post-parent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: auto 1rem;

            .post {
                margin: 3rem auto;
                .post-title {
                    margin-left: 0;
                    text-align: center;

                    a {
                        color: black;
                    }
                }
                .post-thumbnail {
                    width: 400px;
                    height: 300px;
                    margin: 0;
                    img {
                        max-width: 100%;
                        height: 100%;
                        object-fit: contain;
                        filter: grayscale(10);
                        transition: transform 0.8s ease;
                    }
                    img:hover {
                        filter: none;
                        transform: scale(1.1, 1.1);
                        // box-shadow: 10px 10px 5px grey;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1400px) {
        .post-parent {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
