    *{
        margin: 0;
    }

    .site-header {
        margin-bottom: 1rem;
        padding-bottom: .5rem;

        .searchform {
            text-align: right;

            input {
                border-radius: 15px;
            }
        }
    }